{%extends "master/base.html" %}
{% load staticfiles %}
<!--  HEADER SECTIE -->
{%block page_style %}
<link href="{% static 'master/css/content/verkoper.css' %}" rel="stylesheet">
{%endblock %}

{%block title%}
    Verkoper
{% endblock %}


<!--  	CONTENT  -->

{% block content %}

<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default w3-animate-opacity">
			<div class="panel-heading">
		    	<h1 class="panel-title">{{title}}</h1>
		  	</div>

		  	<div class="panel-body">
				{% if error %}
					<div class="alert alert-danger" >
						{{error}}
					</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-success">
                          {{success}}
					</div>
				{% endif %}
                <div class="w3-container ">
                  <h2>Voeg een verkoper toe</h2>
                </div>

                <form class="w3-container" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'master/forms/verkoper-template.html' %}
                    <button type="submit" class="w3-btn w3-blue-grey">
                        Verzend
                    </button>
                </form>
		  	</div>
		</div>

	</div>
</div>

{% endblock %}




<!--- FOOTER  -->
{%block page_scripts %}	
{%endblock %}				




